# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Nuxt.js build / generate output
.nuxt
dist
.output

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Testing
/coverage

# Temporary files
.temp
.cache
.eslintcache

# Build output
.vercel
.netlify

# PWA
**/public/sw.js
**/public/workbox-*.js
